// ---------------------------------------------------------- 
// Config - Disable unrequired icons with false statements.
// ----------------------------------------------------------
$enable-house-svg:            true;
$enable-email-svg:            true;
$enable-plus-svg:             true;
$enable-minus-svg:            true;
$enable-bars-svg:             true;
$enable-dots-h-svg:           true;
$enable-dots-v-svg:           true;
$enable-caret-down-svg:       true;
$enable-caret-up-svg:         true;
$enable-caret-right-svg:      true;
$enable-caret-left-svg:       true;
$enable-close-svg:            true;
$enable-close-box-svg:        true;
$enable-close-box-fill-svg:   true;
$enable-box-svg:              true;
$enable-pen-box-svg:          true;
$enable-tick-box-svg:         true;
$enable-ext-link-svg:         true;
$enable-pg-link-svg:          true;
$enable-search-svg:           true;
$enable-download-svg:         true;
$enable-user-svg:             true;
$enable-question-svg:         true;
$enable-sun-svg:              true;
$enable-moon-svg:             true;

// Brands
$enable-rss-svg:              true;
$enable-github-svg:           true;
$enable-twitter-svg:          true;
$enable-mastodon-svg:         true;
$enable-tiktok-svg:           true;
$enable-facebook-svg:         true;
$enable-instagram-svg:        true;
$enable-pinterest-svg:        true;
$enable-codepen-svg:          true;
$enable-reddit-svg:           true;

